.App {
  text-align: center;
}

.createQuote {
  float: left;
  margin-left: 7px;
}

.filterSearch {
  margin-top: 25px;
  width: 30%;
  font-size: 14px;
}

.mainEntry {
  overflow-x: scroll;
  height: 100vh;
}

.allQuotesButton {
  width: 100%;
  margin-top: 95px;
  margin-bottom: 35px;
}

.cardRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContent {
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}